@import './base.css';

body {
  position: relative;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  font-weight: normal;
  /*background-image: url("../src/assets/background.jpg");*/
  /*background-size: cover;*/
  /*background-color: #b6c5f5;*/
  background-color: #292929;
  background-blend-mode: multiply;
  filter: saturate(0.8);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
